.div,
.emailLabel {
  align-self: stretch;
}
.emailLabel {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 27px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  font-family: var(--font-lufga);
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  min-width: 250px;
}
.div {
  position: relative;
  white-space: nowrap;
  flex-shrink: 0;
}
.inputsChild {
  height: 24px;
  width: 1px;
  position: relative;
  background-color: var(--color-gray-100);
  display: none;
}
.icons,
.inputs {
  position: absolute;
  display: none;
}
.inputs {
  top: 15px;
  left: 24px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icons {
  top: 40px;
  right: 24px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.textField1 {
  align-self: stretch;
  height: 56px;
  position: relative;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-dimgray-500);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.errorMessage {
  width: 101px;
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--color-crimson);
  display: none;
}
.textField {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
